#!/usr/bin/env python
from urllib import quote
from assemblyline.al.install.seeds.assemblyline_appliance import seed, appliance_ip

seed['auth']['internal']['users']['user']['password'] = "{password}"

seed['datastore']['riak']['solr']['heap_max_gb'] = 1

seed['filestore']['ftp_password'] = "{password}"
seed['filestore']['support_urls'] = [
    'ftp://alftp:{{ftp_pass}}@{{appliance_ip}}/opt/al/var/support'.format(appliance_ip=appliance_ip,
                                                                          ftp_pass=quote('{password}'))
]
seed['filestore']['urls'] = [
    'ftp://alftp:{{ftp_pass}}@{{appliance_ip}}/opt/al/var/storage'.format(appliance_ip=appliance_ip,
                                                                          ftp_pass=quote('{password}'))
]

seed['installation']['hooks']['ui_pre'] = ['private.common.hook_ui_pre'],

seed['monitoring']['harddrive'] = False

seed['submissions']['password'] = "{password}"

seed['system']['password'] = "{password}"
seed['system']['repositories']['private'] = {{
    'branch': 'master',
    'url': 'http://{{appliance_ip}}/git/private'.format(appliance_ip=appliance_ip)
}}

seed['ui']['audit'] = False
seed['ui']['context'] = "private.ui.site_specific.context"
seed['ui']['debug'] = True
seed['ui']['secret_key'] = "{secret_key}"

seed['workers']['install_kvm'] = False
seed['workers']['virtualmachines']['master_list'] = {{}}

if __name__ == '__main__':
    import sys

    if "json" in sys.argv:
        import json
        print json.dumps(seed)
    else:
        import pprint
        pprint.pprint(seed)
